@font-face {
  font-family: 'PixelFont';
  src: url('../media/fonts/Pokemon\ Classic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(3, 35, 64);
}

#gameboy {
  height: 700px;
  width: 450px;
  /* border: 5px solid black; */
  border-radius: 10px 10px 20% 10px;
  box-shadow: 0px 0px 50px rgb(200, 200, 200), inset 0px 0px 10px black;
  /* background-color: #e1dfdf; */
  background: rgb(241, 241, 241);
  background: -moz-linear-gradient(5deg, rgba(205, 205, 205, 1) 0%, rgba(228, 227, 220, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(205, 205, 205, 1) 0%, rgba(228, 227, 220, 1) 100%);
  background: linear-gradient(5deg, rgba(205, 205, 205, 1) 0%, rgba(228, 227, 220, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdcdcd", endColorstr="#e4e3dc", GradientType=1);

  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow:inset 0px 0px 10px black, inset 0px -20px 2px #9d9d9f;
}

#rayadivisoria {
  margin-top: 30px;
  width: 100%;
  height: 10px;
  box-shadow: inset 0px 2px 5px rgb(60, 60, 60);
}

#Bordepantalla {
  position: relative;
  top: 15px;
  width: 80%;
  height: 250px;
  background-color: #767585;
  /* border: 5px solid black; */
  box-shadow: inset 0px 0px 20px rgb(46, 46, 46);
  border-radius: 10px 10px 20% 10px;
  border: 3px solid rgb(63, 63, 63);
  display: flex;
  align-items: center;

  padding: 10px;
  gap: 20px;
}

#pantalla {
  border-radius: 2px;
  width: 65%;
  height: 200px;
  background-color: #9c9f4c;
  box-shadow: inset 3px 3px 20px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  position: relative; /* Añadido para que funcione position: absolute de los hijos */
  margin: 0;

  & img {
    width: 80%;
    filter: drop-shadow(5px 5px 5px black);
    margin-bottom: -20px;

  }

  & #pokedexNumber {
    font-size: 15px;
    font-family: "PixelFont";
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    text-shadow: 1px 1px 2px black;

    /*colores*/
    /* border: 2px solid white; */
    /* background-color: rgba(0, 0, 0, 0.363); */
    padding: 5px;
    border-radius: 0px 10px 0px 10px;
  }

  & #type {
    font-family: "PixelFont";
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    text-shadow: 2px 2px 0px black;
  }
}

#circulo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  background-color: rgb(68, 16, 16);
  animation: powerOnEffect 1.5s linear infinite alternate;
  transition: all 1s;
}

@keyframes powerOnEffect {
  0% {
    background-color: rgb(68, 16, 16);
  }

  100% {
    background-color: red;
    box-shadow: 0px 0px 5px red, 0px 0px 5px white;
  }
}

#bateria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & p {
    font-size: 10px;
    color: lightgray;
    font-family: sans-serif;
  }

  /* margin-right: 10px; */
}

#textoGameboy {
  width: 85%;

  font-size: 20px;
  color: black;
  margin-top: 0px;
  font-family: sans-serif;
  font-weight: bold;
  color: #4c3098;

  & i {
    font-size: 25px;
    font-weight: normal;
  }

  & span {
    font-size: 10px;
  }
}

#crucetaybotones {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

#cruceta {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;

  /*color*/
  box-shadow: inset 0px 10px 20px rgba(151, 151, 151, 0.315), inset 0px 0px 0px rgb(231, 231, 231), 0px 0px 20px rgba(255, 255, 255, 0.233);

  & .crosspad {
    position: absolute;
    width: 90px;
    height: 30px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    border: 4px solid rgb(22, 22, 22);
  }

  & #rectangle1 {
    box-shadow: inset 0px 1.5px 0px rgb(187, 186, 186), 0px 3px 3px rgba(0, 0, 0, 0.658);
  }

  & #rectangle2 {
    box-shadow: inset 0px 1px 2px rgb(22, 22, 22), inset 2px 0px 0px rgb(187, 186, 186), 3px 0px 3px rgba(0, 0, 0, 0.521);
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;

    & #circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgb(49, 49, 49);
      box-shadow: inset 20px 0px 10px rgb(22, 22, 22);
      border: 4px solid rgb(20, 20, 20);
    }
  }
}



#botones {
  font-family: "PixelFont";
  margin-left: 20%;
  display: flex;
  gap: 20px;
  padding: 10px;
  box-shadow: inset 5px 5px 20px rgb(171, 171, 171);
  border-radius: 50px;
  transform: rotate(-28deg);
}

button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  all: unset;
  font-size: 25px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(137, 23, 23);
  
  padding: 0;
  box-shadow: inset 0px 3px 2px white, -2.5px 5px 6px black, inset 0px 0px 10px rgba(0, 0, 0, 0.466);
  cursor: pointer;
  box-sizing: border-box;

  & span {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.13);
  }

}

#Encender {
  margin-top: 20px;
  background-color: rgb(244, 248, 244);
}

#SearchButton {
  position: absolute;
  font-size: 20px;
  top: 100px;
  left: 20px;
  cursor: pointer;
}

#Creditos {
  position: absolute;
  font-size: 15px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: white;
  font-family: "pixelfont";
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #gameboy {
    margin-top: -200px;
    transform: scale(.7);
  }

  #Creditos {
    font-size: 10px;
  }

  #SearchButton {
    top: 100px;
  }
}